# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Entornos virtuales
.venv/
venv/
env/

# Variables de entorno
.env
.env.*
!.env.example

# Logs
*.log

# VS Code / IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# Alembic / migrations temporales si aplica luego
*.sqlite3

# Docker
docker-data/